body {
  margin: 0;
  background-color: #e6f2ff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: #212529;
}

#root {
  min-height: 100vh;
}
